@import "../../styles.scss";

section {
  height: 100vh;
  background-color: $background-dark;
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  overflow: hidden;
  h2 {
    font-family: "Fire Code", monospace;
    font-weight: 700;
    font-size: 32px;
    color: $primary-color;
  }

  .quotes {
    height: 41vh;
    width: 150%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      position: absolute;
      top: 0;
      left: 51.4vw;
      z-index: 999;
    }
  }
}

.quote-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  gap: 32px;
}

.quote-container {
  position: absolute;
  top: 0;
  left: 38%;
  border: 1px solid $primary-color;
  border-radius: 30px;
  height: 40vh;
  width: 27%;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  font-family: "Karla", sans-serif;
  overflow: hidden;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
  opacity: 0.7;
  z-index: 1;
  background-color: darken($background-dialog-green, 20%);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
      font-size: 18px;
    }
  }
  p {
    font-size: 20px;
  }
  span {
    border-top: 1px solid $text-color;
    width: 80%;
  }
  &.left {
    transform: translateX(-20px) scale(0.9);
    filter: blur(0.5px);
  }
  &.center {
    transform: scale(1.05);
    opacity: 1;
    z-index: 2;
    filter: none;
    background-color: #57ffe342;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  }
  &.right {
    transform: translateX(20px) scale(0.9);
    filter: blur(0.5px);
  }
  &.far-left {
    transform: translateX(-200%) scale(0.8);
    opacity: 0;
    pointer-events: none;
  }
  &.far-right {
    transform: translateX(200%) scale(0.8);
    opacity: 0;
    pointer-events: none;
  }
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}
