@import "../../styles.scss";

section {
  height: 100vh;
  background-color: $background-dark;
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  overflow: hidden;
  h2 {
    font-family: "Fire Code", monospace;
    font-weight: 700;
    font-size: 32px;
    color: $primary-color;
  }

  .quotes {
    width: 150%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      position: absolute;
      top: 0;
      left: 54vw;
      z-index: 999;
    }
  }
}

.quote-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  gap: 32px;
}

.quote-container {
  position: absolute;
  top: 8px;
  border: 1px solid $primary-color;
  border-radius: 30px;
  height: 35vh;
  width: 27%;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  font-family: "Karla", sans-serif;
  overflow: hidden;
  transition: all 0.6s linear;
  opacity: 0.7;
  z-index: 1;
  background-color: darken($background-dialog-green, 20%);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
      font-size: 18px;
    }
  }
  p {
    font-size: 20px;
  }
  span {
    border-top: 1px solid $text-color;
    width: 80%;
  }
  &.left {
    transform: translateX(-20px) scale(0.9);
    filter: blur(0.5px);
    left: 30%;
    opacity: 0.8;
  }
  &.center {
    left: 38%;
    transform: scale(1.05);
    opacity: 1;
    z-index: 2;
    filter: none;
    background-color: #57ffe342;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  }
  &.right {
    left: 46%;
    transform: translateX(20px) scale(0.9);
    filter: blur(0.5px);
    opacity: 0.8;
  }
}

.opacity-0 {
  opacity: 0;
  pointer-events: none;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.point {
  width: 8px;
  height: 8px;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}

.arrow {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 18px;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

.arrow-back {
  background-image: url("../../assets/img/arrow_back.png");
  &:hover {
    transform: translateX(-5px) scale(1.2);
    background-image: url("../../assets/img/arrow_back_turquoise.png");
  }
}

.arrow-forward {
  background-image: url("../../assets/img/arrow_forward.png");
  &:hover {
    transform: translateX(5px) scale(1.2);
    background-image: url("../../assets/img/arrow_forward_turquoise.png");
  }
}
