<section>
  <h2>What my colleagues say about me</h2>
  <div class="quotes">
    <img src="assets/img/quotes.png" alt="quotes" />
    <div class="quote-row">
      <div
        *ngFor="let testimonial of testimonials; let i = index"
        class="quote-container"
        [ngClass]="{
          'far-left': getRelativePosition(i) === -2,
          left: getRelativePosition(i) === -1,
          center: getRelativePosition(i) === 0,
          right: getRelativePosition(i) === 1,
          'far-right': getRelativePosition(i) === 2
        }"
        [style.transform]="getTransform(i)"
      >
        <p>{{ testimonial.text }}</p>
        <div>
          <span></span>
          <p>{{ testimonial.author }} - {{ testimonial.role }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation-buttons">
    <img src="assets/img/arrow_back.png" alt="arrow-left" (click)="goLeft()" />
    <img src="assets/img/pointTurquoise.png" alt="point-turquoise" />
    <img src="assets/img/pointWhite.png" alt="point-white" />
    <img src="assets/img/pointWhite.png" alt="point-white" />
    <img
      src="assets/img/arrow_forward.png"
      alt="arrow-right"
      (click)="goRight()"
    />
  </div>
</section>
