<section>
  <h2>What my colleagues say about me</h2>
  <div class="quotes">
    <img src="assets/img/quotes.png" alt="quotes" />
    <div class="quote-row">
      <ng-container *ngFor="let testimonial of testimonials; let i = index">
        <div
          class="opacity-0"
          *ngIf="getRelativePosition(i) >= -2 && getRelativePosition(i) <= 2"
          [ngClass]="{
            'quote-container':
              getRelativePosition(i) >= -1 && getRelativePosition(i) <= 1,
            'far-left': getRelativePosition(i) === -2,
            left: getRelativePosition(i) === -1,
            center: getRelativePosition(i) === 0,
            right: getRelativePosition(i) === 1,
            'far-right': getRelativePosition(i) === 2
          }"
          [style.transform]="getTransform(i)"
        >
          <p>{{ testimonial.text }}</p>
          <div>
            <span></span>
            <p>{{ testimonial.author }} - {{ testimonial.role }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="navigation-buttons">
    <div class="arrow arrow-back" (click)="goLeft()"></div>
    <ng-container *ngFor="let testimonial of testimonials; let i = index">
      <img
        class="point"
        [src]="
          i === currentIndex
            ? 'assets/img/pointTurquoise.png'
            : 'assets/img/pointWhite.png'
        "
        [alt]="i === currentIndex ? 'point-turquoise' : 'point-white'"
        (click)="goToIndex(i)"
      />
    </ng-container>
    <div class="arrow arrow-forward" (click)="goRight()"></div>
  </div>  
</section>
