@import "../../styles.scss";

section {
  min-height: 100vh;
  background-color: $background-dark;
  color: $text-color;
  display: flex;
  justify-content: center;
  gap: 96px;
  padding: 96px 96px;
}

.about-content {
  display: flex;
  align-items: baseline;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
  width: 35vw;
  height: 75vh;
}

.profile-image {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  width: 37vw;
  height: 80vh;

  img {
    width: 35vw;
    height: 75vh;
    display: block;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 95%;
    height: 95%;
    z-index: 1;
    border-radius: 30px;
    background: repeating-linear-gradient(
      45deg,
      $primary-color,
      $primary-color 1px,
      transparent 1px,
      transparent 32px
    );
    transition: left 0.05s ease-in-out;
  }

  &:hover {
    &::before {
      left: 1%;
    }
  }
}

.about-header {
  h2 {
    color: $primary-color;
    font-size: 24px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.about-text-container {
  background-color: $dialog-background;
  border-radius: 30px;
  border: 1px solid $primary-color;
}

.about-me-header {
  padding: 16px 32px 32px 32px;
  h3 {
    color: $primary-color;
    font-size: 64px;
    font-family: "Fira Code", monospace;
    font-weight: 700;
    margin-bottom: 40px;
  }
  p {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #cecece;
    word-spacing: 2px;
  }
}

.info-points {
  padding: 0 32px 32px 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 120%;
    word-spacing: 1px;
    color: #adadad;
    text-wrap: wrap;
    &:hover {
      color: #cecece;
      cursor: default;
    }
  }
}

.info-item {
  display: flex;
  gap: 24px;
  img {
    width: 32px;
    height: 32px;
  }
}

@media (max-height: 800px) {
  .about-text {
    margin-top: 40px;
  }
  .profile-image {
    width: 40vw;
    height: 76vh;
    > img {
      width: 38vw;
      height: 72vh;
    }
  }
  .about-me-header {
    padding: 16px 32px 16px 32px;
    >h3 {
      font-size: 54px;
      margin-bottom: 20px;
    }
    >p {
      font-size: 16px;
    }
    .info-points {
      >p {
        font-size: 16px;
      }
    }
  }
}
