<section id="about">
  <div class="about-content">
    <div class="profile-image">
      <img src="assets/img/testPicture.png" alt="Profile picture" />
    </div>
  </div>
  <div class="about-text">
    <div class="about-header">
      <h2>{{ translate("whoIAm") }}</h2>
    </div>

    <div class="about-text-container">
      <div class="about-me-header">
        <h3>{{ translate("aboutMeHeader") }}</h3>
        <p>{{ translate("aboutText") }}</p>
      </div>

      <div class="info-points">
        <div class="info-item">
          <img src="/assets/img/location.png" alt="">
          <p>{{ translate("location") }}</p>
        </div>

        <div class="info-item">
          <img src="/assets/img/cognition.png" alt="">
          <p>{{ translate("mindset") }}</p>
        </div>

        <div class="info-item">
          <img src="/assets/img/paragraph.png" alt="">
          <p>{{ translate("approach") }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
