<section id="projects">
  <div class="portfolio-content">
    <h3>{{ translate('projects', 'portfolio') }}</h3>
    <h1>{{ translate('projects', 'featuredProjects') }}</h1>
    <p class="my-projects-text">
      {{ translate('projects', 'exploreText') }}
    </p>
    <div class="project-cards-container">
      <div class="project-cards-container-left">
        <div
          class="project-card"
          (mouseenter)="showImage('assets/img/joinImg.png', 'top')"
          (mouseleave)="hideImage()"
          (click)="openProjectDialog('Join')"
        >
          <div class="project-card-header">
            <h2>Join</h2>
            <span></span>
          </div>
          <div class="project-card-technologies">
            <p>JavaScript</p>
            <span></span>
            <p>HTML</p>
            <span></span>
            <p>CSS</p>
            <span></span>
            <p>Firebase</p>
          </div>
        </div>
        <div
          class="project-card"
          (mouseenter)="showImage('assets/img/elPolloLocoImage.png', 'middle')"
          (mouseleave)="hideImage()"
          (click)="openProjectDialog('El Pollo Loco')"
        >
          <div class="project-card-header">
            <h2>El Pollo Loco</h2>
            <span></span>
          </div>
          <div class="project-card-technologies">
            <p>JavaScript</p>
            <span></span>
            <p>HTML</p>
            <span></span>
            <p>CSS</p>
          </div>
        </div>
        <div
          class="project-card"
          (mouseenter)="showImage('assets/img/daBubbleImg.png', 'bottom')"
          (mouseleave)="hideImage()"
          (click)="openProjectDialog('DA Bubble')"
        >
          <div class="project-card-header">
            <h2>DA Bubble</h2>
            <span></span>
          </div>
          <div class="project-card-technologies">
            <p>Angular</p>
            <span></span>
            <p>TypeScript</p>
            <span></span>
            <p>Firebase</p>
          </div>
        </div>
      </div>
      <div class="display-image-container" [ngClass]="{
        'justify-start': selectedPosition === 'top',
        'justify-center': selectedPosition === 'middle',
        'justify-end': selectedPosition === 'bottom'
      }">
        <div class="display-image" *ngIf="selectedImage">
          <div class="image-wrapper">
            <img [src]="selectedImage" alt="Project Preview" />
            <span class="shadow"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
