<section>
    <div class="contact-text">
        <h3>Contact me</h3>
        <h2 class="fira-code-font">Let's work <br>together</h2>
        <h3 class="fira-code-font">Got a problem to solve?</h3>
        <p>I'm an open-minded developer seeking new challenges and opportunities. With clear goals and a passion for innovation, I'm ready to bring fresh perspectives and valuable solutions to your projects. Let's connect and explore how we can create something amazing together.</p>
        <p>Need a Frontend Developer? <span class="fira-code-font">Let's talk!</span></p>
    </div>
    <form action="">
        <div class="form-group">
            <label class="fira-code-font" for="name">What's your name?</label>
            <input type="text" id="name" name="name" placeholder="Your name goes here">
        </div>
        <div class="form-group">
            <label class="fira-code-font" for="email">What's your email?</label>
            <input type="email" id="email" name="email" placeholder="youremail@example.com">
        </div>
        <div class="form-group border-bottom">
            <label class="fira-code-font" for="message">How can I help you?</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Hello Adrian, I am interested in..."></textarea>
        </div>
        <div class="privacy-policy">
            <div class="checkbox" id="checkbox" (click)="toggleCheckbox()"></div>
            <p>I've read the <span>Privacy Policy</span> and agree to processing of my data as outlined.<p>
        </div>
        <button type="submit">Say Hello ;D</button>
    </form>
</section>
