<div class="project-container">
  <div class="cursor-glow" #cursorGlow></div>
  <div class="close-button-container">
    <button class="close-button" (click)="closeDialog()">×</button>
  </div>
  <div class="project-content-container">
    <div class="project-content">
      <div class="project-header">
        <h2 class="project-number">
          {{ currentProject.id.toString().padStart(2, "0") }}
        </h2>
        <h1>{{ currentProject.name }}</h1>
      </div>

      <div class="project-description">
        <h2>{{ translate('projects', 'whatIsThisAbout') }}</h2>
        <p>{{ translate('projects', currentProject.description) }}</p>
      </div>

      <div class="project-technologies">
        <div class="tech-icon" *ngFor="let tech of currentProject.technologies">
          <img [src]="tech.icon" [alt]="tech.name" />
          <span>{{ tech.name }}</span>
        </div>
      </div>

      <div class="project-links">
        <a
          [href]="currentProject.links.github"
          target="_blank"
          class="link-button"
        >
          GitHub
          <span></span>
        </a>
        <a
          [href]="currentProject.links.live"
          target="_blank"
          class="link-button"
        >
          {{ translate('projects', 'liveTest') }}
          <span></span>
        </a>
      </div>
    </div>
    <div class="project-preview">
      <img
        [src]="currentProject.image"
        [alt]="currentProject.name + ' Preview'"
      />
    </div>
  </div>
  <div class="navigation" (click)="navigateToNextProject()">
    <span class="next-project">
      {{ translate('projects', 'nextProject') }}
      <span></span>
    </span>
  </div>
</div>
