@import "../../styles.scss";

section {
  padding: 96px 96px 60px 96px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $background-dark;
  height: 80vh;
  gap: 96px;
  p {
    color: $text-color;
  }
}

.background-decoration {
  position: absolute;
  bottom: 34px;
  left: -230px;
  width: 500px;
  height: 500px;
  background-color: #3dcfb617;
  box-shadow: 0px 0px 20px 20px #3dcfb617;
  border-radius: 500px;
}

.skills-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  h3 {
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 20px;
  }
  h2 {
    font-family: "Fira Code", monospace;
    font-size: 64px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 40px;
  }
  p {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    stroke-width: 3px;
    color: $text-color;
    margin-bottom: 32px;
    word-spacing: 3px;
  }
  h4 {
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: $text-color;
    margin-bottom: 16px;
  }
  .lets-talk-button {
    color: $text-color;
    width: 120px;
    padding: 13px 0;
    border-radius: 25px;
    border: 1px solid $text-color;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover {
      border: 1px solid $primary-color;
      transition: border 0.25s ease-in-out;
    }

    .btn-content-wrapper {
      display: flex;
      transition: transform 0.15s ease-in-out;

      span {
        flex-shrink: 0;
        width: 100%;
        color: $text-color;
        font-weight: 400;
        font-family: "Karla", sans-serif;
        font-size: 18px;
      }
    }

    &:hover {
      .btn-content-wrapper {
        animation: slideText 1.5s linear infinite;
      }
    }
  }
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.another-skills-text {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;
  span {
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $text-color;
  }
  P {
    font-family: "Karla", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }
}

.skills-text-container {
  background-color: $dialog-background;
  border-radius: 30px;
  border: 1px solid $primary-color;
  padding: 32px;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    width: 64px;
    height: 64px;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.25s ease-in-out;
    }
  }
  p {
    font-family: "Fira Code", monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: $text-color;
    text-align: center;
  }
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 27px;
  width: 60%;
  margin-top: 20px;
}

.growth-mindset-container {
  position: relative;
  margin-top: 4px;
  width: 67px;
  height: 65px;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  .growth-vector-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    pointer-events: none;
  }

  .growth-vector-right {
    position: absolute;
    bottom: 0;
    right: 0;
    rotate: 180deg;
    width: 54px;
    height: 54px;
    pointer-events: none;
  }

  .growth-hat {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 46px;
    height: 46px;
    pointer-events: none;
  }
}
